<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMOP - Password Reset</title>
    <!-- 페이지 meta태그 -->
    <meta name=”description” content="Make My Own Perfume. 당신만의 향수를 제작해보세요!">
    <meta name=”keywords” content="MMOP, perfume, 취향테스트, 향수추천, 나만의 향수, 수제향수, 향수커스텀제작">
    <meta property="og:site_name" content="MMOP" />
    <meta property="og:title" content="MMOP" />
    <meta property="og:description" content="Make My Own Perfume. 당신만의 향수를 제작해보세요!" />
    <meta property="og:type" content="website" />
    <meta property="og:url"
        content="https://assets.burberry.com/is/image/Burberryltd/FF7081DD-1E90-4399-A98D-B1C150B964A6?$BBY_V2_SL_1x1$&wid=1251&hei=1251" />
    <meta property="og:image"
        content="https://assets.burberry.com/is/image/Burberryltd/FF7081DD-1E90-4399-A98D-B1C150B964A6?$BBY_V2_SL_1x1$&wid=1251&hei=1251" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- 페이지별 css 추가 -->
    <link rel="stylesheet" href="/static/css/password_reset_done.css">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div class="flex">
                    <div class="navbar_logo">
                        <a href="http://127.0.0.1:5500/">
                            <img src="/static/images/logo.png" alt="mmoplogo" />
                        </a>
                    </div>
                    <div class="navbar_nav flex w-100">
                        <ul class="navbar_menu nav-left">
                            <li class="navbar_item">
                                <a href="http://127.0.0.1:5500/recommend.html">
                                    향수 추천
                                </a>
                            </li>
                            <li class="navbar_item">
                                <a href="http://127.0.0.1:5500/custom_perfume_note.html">
                                    향수 제작
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar_menu nav-right">
                            <li class="navbar_item">
                                <a href="http://127.0.0.1:5500/users/signin.html">
                                    SIGN IN
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="wrap">
        <section class="sec_signin">
            <div class="container_main">
                <div class="signin_content">
                    <h2 class="signin_title">비밀번호 변경완료!</h2>
                </div>
                    <p class="notice_txt">
                        비밀번호 변경이 완료되었습니다!
                        <br>
                        다시 로그인 해주세요
                    </p>
                <div class="input_box">
                    <div class="input_email_item">
                            <a href="http://127.0.0.1:5500/users/signin.html" type="button" class="btn btn-email">로그인 하러가기</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>
    <footer>
        <div class="container">
            <div class="fnb">
                <ul class="fnb_nav">
                    <li><a href="#">브랜드 소개</a></li>
                    <li><a href="#">상품QnA</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보 보호정책</a></li>
                </ul>
            </div>
            <div class="footer_content">
                <div class="footer_info">
                    <div class="footer_logo">
                        <a href="/">
                            <img src="/static/images/logo_white.png" alt="footer_logo">
                        </a>
                    </div>
                    <div class="footer_team_intro">
                        <p> 상호 (주)USD 사업자등록번호 123-45-67890</p>
                        <p> 통신판매업 신고 제2022-서울강남-01234호 <a href="#none"
                                onclick="window.open('#http://www.ftc.go.kr/bizCommPop.do?wrkr_no=1234567890', 'bizCommPop', 'width=750, height=950;');return false;">[사업자정보확인]</a>
                        </p>
                        <p> 주소 서울특별시 강남구 테헤란로 0 (삼성동) USD</p>
                        <p> 전화 <a href="tel:010-1234-5678">010-1234-5678</a></p>
                        <p> 개인정보관리책임자 이현지 <a href="mailto:dev_usd@usd.com">(dev_usd@usd.com)</a></p>
                        <p> copyright(c) USD. All rights reserved </p>
                    </div>
                </div>
                <div class="footer_service">
                    <div class="footer_title">
                        <strong>고객센터</strong>
                    </div>
                    <p class="tel"><a href="tel:010-1234-5678">010-1234-5678</a></p>
                    <p class="service_time">
                        AM 10:00 - PM 5:00
                        <br>
                        (점심 PM 12:00 - PM 1:00)
                        <br>
                        토/일, 공휴일은 휴무
                    </p>
                </div>
                <div class="footer_account">
                    <div class="footer_title">
                        <strong>ACCOUNT</strong>
                    </div>
                    <ul class="footer_account_link">
                        <li><a href="http://127.0.0.1:5500/users/signin.html">로그인</a></li>
                        <li><a href="http://127.0.0.1:5500/users/signup.html">회원가입</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>