.sec_signin{
    font-size: 15px;
    text-align: center;
    height: 600px;
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-top: 100px;
}

.container_main{
    background-color: white; 
    width: 450px; 
    height: 400px; 
}

.container_main .notice_txt{
    line-height: 1.6em;
    font-size: 1.1em;
}

.signin_title{
    margin-bottom: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-decoration: solid;
    color:black;
}


.input_box{
    position: relative;
    padding: 0px 0 14px;
    margin-top: 30px;
}

.input_title{
    text-align: left;
    text-decoration: bold;
}

.input_txt{
    width: 100%;
    height: 40px;
    border-width: 0px;
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn_signin{
    margin-top: 30px;
    width: 100%;
    height: 40px;
    
}

.look_box{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.help_notice{
    padding: 0px 0 30px;
    border-bottom: 3px solid black;
}

.password_pre{
    text-align: left;
    text-decoration: bold;
}

.password_now{
    text-align: left;
    text-decoration: bold;
}

.input_box .btn-email{
    margin-top: 30px;
    width: 80%;
    height: 40px;
    color: #f5f5f5;
    background-color: #202020;
    border-radius: unset;
}
.input_box .btn-email:hover{
    margin-top: 30px;
    width: 80%;
    height: 41px;
    color: #f5f5f5;
    background-color: #202020;
    border-radius: unset;
}

