/* style.css : 공용 스타일 파일 */
/* reset */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
* {
    font-family: 'Pretendard', sans-serif !important;
    font-weight: 300;
}
:root {
    --main-red: #F54F4F;
    --strong-black: #000000;
    --main-black: #202020;
    --second-black: #2c2c2c;
    --main-white: #ffffff;
    --second-white: #f5f5f5;
    --base-gray-999: #999;
    --base-gray-e4: #e4e4e4;
    --base-gray-ef :#efefef;

}

body{
    color: #202020;
}

/* header */
header{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    font-weight: 700;
    font-size: 1.1em;
}
header.header_sticky{
    background: rgba(255,255,255,0.6);
    box-shadow: 0 0 8px rgb(255 255 255 / 5%);
    color: var(--main-black);
    transition: 0.4s;
}
/* header nav{
    padding: 0 16px;
} */
header nav .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .navbar_logo{
    margin-right: 32px;
}
header nav .navbar_logo img{
    height: 24px;

}
header nav ul.navbar_menu{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
}
header nav ul.navbar_menu button{
    background: transparent;
    border:0;
}
header nav ul.navbar_menu > li > a, header nav ul.navbar_menu > li > button, header nav ul.navbar_menu > li .dropdown>button{
    display: block;
    line-height: 20px;
    padding: 0px 16px;
}
header nav ul.navbar_menu > li > button.btn:hover, header nav ul.navbar_menu > li .dropdown>button:hover, header nav ul.navbar_menu > li .dropdown>button:active, header nav ul.navbar_menu > li .dropdown>button:focus-visible, .btn:first-child:active{
    background: transparent;
    border-color: transparent;
}
header nav .my_profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
header nav .my_profile img{
    width: 100%;
    height: 100%;
    display: table;
    border-radius: 50%;
}

/* footer */
footer{
    background-color: var(--main-black);
    color: var(--second-white);
}
footer .fnb ul.fnb_nav{
    display: flex;
    padding: 16px 0;
}
footer .fnb ul.fnb_nav >li{
    margin-right: 32px;
}
footer .footer_content{
    display: flex;
    justify-content: space-between;
    line-height: 1.56;
    color: var(--base-gray-999);
    font-weight: 300;
    padding: 32px 0 50px;
}
footer .footer_content .footer_logo, footer .footer_content .footer_title{
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--second-white);
}
footer .footer_content a:hover{
    color: var(--second-white);
    transition: 0.4s;
}


/* default CSS */
a, a:hover{
    color: inherit;
    text-decoration: unset;
    transition: 0.4s;
}
.btn.btn_default{
    background-color: var(--main-black);
    color: var(--main-white);
    border-radius: 0;
    padding: 0.5em 1rem;
    min-width: 150px;
    transition: 0.4s;
}
.btn.btn_default:hover{
    background-color: var(--strong-black);
    color: var(--main-white);
    transition: 0.4s;
}

.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-align-center{
    align-items: center;
}
.flex-justify-around{
    justify-content: space-around;
}
.flex-justify-between{
    justify-content: space-between;
}


/* wrap */
.wrap{
    position: relative;
    padding: 16px 0;
    padding-top: 0px;
    min-height: calc(100vh - 351.4px) ;
}
/* sidenav */
.area_container{
    display: flex;
    position: relative;
    margin-top: 120px;
    margin-bottom: 100px;
}
.sidenav{
    flex : 0 0 250px;
    width: 250px;
    min-height: 250px;
    /* position: absolute; */
    left:12px;
    top: 32px;
}
.main{
    padding: 0 16px 0 72px;
    width: 100%;
}
/* section */
.sec{
    margin-bottom: 50px;
}
.sec .section_header{
    margin-bottom: 32px;
    text-align: center;
}
.sec .section_title{
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block;
}

/*********************/
/*     item_card     */
/*********************/
.item_card{
    position:relative;
    margin-bottom: 32px;
    box-shadow: 0;
    transition: 0.4s;
}
.item_card:hover{
    box-shadow: 1px 1px 10px #efefef;
    transition: 0.4s;
}
/* card_header */
.item_card .card_header{
    position: relative;
}
.item_card .item_image{
    vertical-align: unset;
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}
.item_card .item_image >img{
    position: absolute;
    /* width: 100%; */
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.item_card .perfume_card_heart{
    position: absolute;
    z-index: 10;
    top: 16px;
    width: 24px;
    height: 24px;
    object-fit: cover;
    right:13px;
}
/* card_content */
.item_card .card_content{
    width: 100%;
    padding: 15px;
    text-align: center;
}
.item_card .card_content p{
    margin-bottom: 8px;
}
.item_card .card_content p.item_card_title{
    overflow: hidden;
    white-space: normal;
    word-break: keep-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* word-break: keep-all; */
}
.item_card .card_content .item_card_title{
    font-weight: 600;
    font-size : 1em;
}
.item_card .card_content .item_card_editor{
    font-size: 0.75em;
}
.item_card .card_content .item_card_tag{
    font-size: 0.65em;
    color: #999;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
/* card_footer */
.item_card .card_footer{
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 0.75em;
}

/* 아이템 material */
.item_card .material{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 5px;
    width: 33.333333%;
    height: 33.333333%;
}
.item_card .material:nth-child(1){
    top: 0;
}
.item_card .material:nth-child(2){
    top: 33.333333%;
}
.item_card .material:nth-child(3){
    top: 66.666666%;
}
.item_card .material img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


/* 별점 */
.starpoint_wrap{display:inline-block;margin-left: 4px;}
.starpoint_box{position:relative;background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 0 no-repeat; background-size: auto 34px; font-size:0;}
.starpoint_box .starpoint_bg{display:block;position:absolute;top:0;left:0;height:16px;background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 -18px no-repeat; background-size: auto 34px; pointer-events:none;}
.starpoint_box .label_star{display:inline-block;width:8.85px;height:16px;box-sizing:border-box;}
.starpoint_box .star_radio{opacity:0;width:0;height:0;position:absolute;}
.star_10 .starpoint_bg, .starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg{width:10%;}
.star_20 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg{width:20%;}
.star_30 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg{width:30%;}
.star_40 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg{width:40%;}
.star_50 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg{width:50%;}
.star_60 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(6):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(6):checked ~ .starpoint_bg{width:60%;}
.star_70 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(7):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(7):checked ~ .starpoint_bg{width:70%;}
.star_80 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(8):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(8):checked ~ .starpoint_bg{width:80%;}
.star_90 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(9):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(9):checked ~ .starpoint_bg{width:90%;}
.star_100 .starpoint_bg,.starpoint_box .star_radio:nth-of-type(10):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(10):checked ~ .starpoint_bg{width:100%;}
.blind{position:absolute;clip:rect(0 0 0 0);margin:-1px;width:1px;height: 1px;overflow:hidden;}


@media (max-width: 991px){
    .container, .container-md, .container-sm{
        max-width: 100%;
        padding: 32px;
    }
}